@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Inter-Light-BETA.woff2") format("woff2"),
    url("fonts/Inter-Light-BETA.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
    url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-Medium.woff2") format("woff2"),
    url("fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBold.woff2") format("woff2"),
    url("fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2") format("woff2"),
    url("fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter-Black.woff2") format("woff2"),
    url("fonts/Inter-Black.woff") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Section Reality */

.section_reality {
  background-color: #fff;
}

.reality__list {
  display: flex;
  justify-content: space-between;
}

.reality__list-item {
  width: 49%;
}

.reality__item-image,
.reality__item-pic {
  width: 100%;
}

.reality__item-content {
  background-color: #fff;
  padding: 8px;
}
.reality__item-info {
  color: #42425a;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

.reality__item-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Zilla Slab', serif;
}

.reality__item-link:hover {
  border-bottom: 2px solid #000000;
}

.reality__item-text {
  margin-bottom: 4px;
}
